In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('data/strategies_5cls_2h_numeric.csv')
df = df.drop(columns=["fwd_ret_2h", "class", "action_pos"],errors="ignore")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49277 entries, 0 to 49276
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                49277 non-null  object
 1   close                    49277 non-null  float64
 2   ret_1h                   49277 non-null  float64
 3   ret_2h                   49277 non-null  float64
 4   ret_4h                   49277 non-null  float64
 5   ret_12h                  49277 non-null  float64
 6   ret_24h                  49277 non-null  float64
 7   roll_mean_ret_6h         49277 non-null  float64
 8   roll_std_ret_6h          49277 non-null  float64
 9   roll_mean_ret_12h        49277 non-null  float64
 10  roll_std_ret_12h         49277 non-null  float64
 11  roll_mean_ret_24h        49277 non-null  float64
 12  roll_std_ret_24h         49277 non-null  float64
 13  roll_mean_ret_72h        49277 non-null  float64
 14  roll_std_ret_72h         49277 non-null  float64
 15  roll_mean_ret_168h       49277 non-null  float64
 16  roll_std_ret_168h        49277 non-null  float64
 17  vol_24h                  49277 non-null  float64
 18  vol_168h                 49277 non-null  float64
 19  ema_12h                  49277 non-null  float64
 20  ema_26h                  49277 non-null  float64
 21  macd                     49277 non-null  float64
 22  macd_sig                 49277 non-null  float64
 23  rsi_14                   49277 non-null  float64
 24  z_close_24h              49277 non-null  float64
 25  hour_sin                 49277 non-null  float64
 26  hour_cos                 49277 non-null  float64
 27  dow_sin                  49277 non-null  float64
 28  dow_cos                  49277 non-null  float64
 29  open                     49277 non-null  float64
 30  high                     49277 non-null  float64
 31  low                      49277 non-null  float64
 32  volume                   49277 non-null  float64
 33  block_blocks_count       49277 non-null  float64
 34  block_total_size_bytes   49277 non-null  float64
 35  block_total_txs          49277 non-null  float64
 36  block_avg_txs_per_block  49277 non-null  float64
 37  block_avg_block_size     49277 non-null  float64
 38  Bitcoin                  49277 non-null  float64
 39  BTC                      49277 non-null  float64
 40  crypto                   49277 non-null  float64
 41  roll_mean_close_24h      49277 non-null  float64
 42  roll_std_close_24h       49277 non-null  float64
 43  action_note              49277 non-null  object
 44  class_id                 49277 non-null  int64
dtypes: float64(42), int64(1), object(2)
memory usage: 16.9+ MB

In [11]:
X = df.drop(columns=["timestamp", "action_note", "class_id"])
y = df["class_id"]

print("Feature shape:", X.shape)
print("Target shape:", y.shape)
print("Classes:", y.unique())

Feature shape: (49277, 42)
Target shape: (49277,)
Classes: [2 3 1 4 0]