In [1]:
import pandas as pd

df = pd.DataFrame({
    "loan_intent":["PERSONAL", "EDUCATION"],
    "person_income": [30000, 50000]
})
# One-hot encode the column `loan_intent` using pd.get_dummies
# Convert all values to float32 with .astype("float32")
# Show the head of the dataframe
df = pd.get_dummies(df, columns=["loan_intent"]).astype("float32")
df.head()

   person_income  loan_intent_EDUCATION  loan_intent_PERSONAL
0        30000.0                    0.0                   1.0
1        50000.0                    1.0                   0.0

In [2]:
df.values

array([[3.e+04, 0.e+00, 1.e+00],
       [5.e+04, 1.e+00, 0.e+00]], dtype=float32)

In [3]:
import torch

# Convert the dataframe values to a torch.tensor of dtype float32
# Print the tensor
X = torch.tensor(df.values, dtype=torch.float32)
print(X)

tensor([[3.0000e+04, 0.0000e+00, 1.0000e+00],
        [5.0000e+04, 1.0000e+00, 0.0000e+00]])